<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Stepper Application</strong>
    <p>Although the stepper is set to mode 'horizontal', it still sits vertical.</p>
    <ion-button (click)="this.navCtrl.navigateForward('stepper')">Open Stepper Page</ion-button>
  </div>
</ion-content>
